{{define "chat"}}

{{template "header"}}

<img id="code">
<ul id="messages"></ul>
<form id="chatbox">
  <textarea></textarea>
  <input type="submit" value="Send" />
</form>

<script type="text/javascript" src="/static/js/chat.js"></script>

{{template "footer"}}

{{end}}
