{{define "qrcode"}}

{{template "header"}}

<div class='center'>
  <img id='qrcode' src='{{ .QRCodeURL }}' style="width:30%;">
  <a href='{{ .RoomURL }}' target="_blank" style="font-size: large;">{{ .RoomURL }}</a>

  <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</div>


{{template "footer"}}

{{end}}
